* {
    margin: 0;
    box-sizing: border-box;
}

/* Framework */

.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

@media (min-width: 768px) {
    .flex-md-4 {
        flex-basis: 33.33%;
        width: 33.33%;

    }
}

@media (min-width: 768px) {
    .flex-md-4 {
        flex-basis: 33.33%;
        width: 33.33%;

    }
}

/* Header Start */

header {
    background-color: #fff;
}